@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-6xl;
    @apply font-bold
  }
  h2 {
    @apply text-4xl;
    @apply font-semibold
  }
  h3{
    @apply text-2xl
  }
}

@font-face {
  font-family: "PostNoBillsColombo";  
  src: url("/fonts/PostNoBills/postnobillscolombo-light.ttf") format("truetype");
}

@font-face {
  font-family: "Caveat"; 
  src: url("/fonts/Caveat/Caveat-VariableFont_wght.ttf") format("truetype");
}