---
import Page from "../../layouts/Page.astro"
import '../../styles/global.css';
import pic1 from "../../assets/officers/23-24/president.png"
import pic2 from "../../assets/officers/23-24/vp.jpg"
import pic3 from "../../assets/officers/23-24/academic_chair.png"
import pic4 from "../../assets/officers/23-24/academic_chair2.jpg"
import pic5 from "../../assets/officers/23-24/pr.png"
import pic6 from "../../assets/officers/23-24/secretary.png"
import pic7 from "../../assets/officers/23-24/tutor.jpg"
import pic8 from "../../assets/officers/23-24/tutor2.jpg"
import pic9 from "../../assets/officers/23-24/webmaster.png"
import Footer from "../../components/Footer.astro";
import OfficerCard from "../../components/OfficerCard";
---
<Page title="23-24 Officers">

    <div class="p-4">
        <a href="/#officer"> <div class="p-3 border-black border-1 w-min rounded-xl cursor-pointer text bg-[rgb(253,220,128)] hover:bg-[rgb(245,204,92)] ">Back</div></a>  
        <h1 class="heading">2023-2024 Officers</h1>
        <div class="p-4">
            <div class="p-6 m-2 bg-slate-500 text-center w-32 h-32 sm:w-64 sm:h-64 flex flex-col justify-center text-white drop-shadow-2xl"><h1 class="text-lg sm:text-6xl">2023-2024</h1></div>
                <div class="grid grid-cols-3 gap-3 m-2">
                    <OfficerCard officer={{
                        name: 'Theresa Nguyen',
                        title: 'President',
                        image: pic1,
                        email: 'acs.at.uh@gmail.com'
                    } } />
                    <OfficerCard officer={{
                        name: 'Elizabeth Tran',
                        title: 'Vice President/Green Chemistry Chair',
                        image: pic2,
                        email: 'acs.at.uh@gmail.com'
                    } } />
                    <OfficerCard officer={{
                        name: 'Lily Bonzon',
                        title: 'Academic Chair',
                        image: pic3,
                        email: 'acs.at.uh@gmail.com'
                    } } />
                    <OfficerCard officer={{
                    name: 'Hamza Awan',
                    title: 'Academic Chair',
                    image: pic4,
                    email: 'acs.at.uh@gmail.com'
                } } />
                <OfficerCard officer={{
                    name: 'Ash Moore',
                    title: 'Public Relations',
                    image: pic5,
                    email: 'acs.at.uh@gmail.com'
                } } />                    
                    <OfficerCard officer={{
                        name: 'Anthony Dang',
                        title: 'Secretary',
                        image: pic6,
                        email: 'acs.at.uh@gmail.com'
                    } } />   
                     <OfficerCard officer={{
                        name: 'Jessica Morcilla',
                        title: 'Tutor Coordinator',
                        image: pic7,
                        email: 'acs.at.uh@gmail.com'
                    } } />   
                     <OfficerCard officer={{
                        name: 'Alex Saravia',
                        title: 'Tutor Coordinator',
                        image: pic8,
                        email: 'acs.at.uh@gmail.com'
                    } } />   
                <OfficerCard officer={{
                    name: 'Alan Johnson',
                    title: 'Webmaster',
                    image: pic9,
                    email: 'acs.at.uh@gmail.com'
                } } />   
                   
                </div>
        </div>
        
    </div>

</Page>
<div class="flex justify-center">
    <Footer/>
</div>

<style>
    .full-size {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This ensures the image covers the entire cell without distortion */
}

</style>
