---
import Page from "../layouts/Page.astro"
---
<Page title="About Us">
        <div class="h-screen bg-[#0057A3]">
            <h1 class="text-2xl font-semibold ">About Us</h1>
            <div class="text-white">
                <h2>Introduction</h1>
                    <p>
                        The ACS student affiliates program offers undergraduate students majoring in chemistry or a related science the support, privileges, and benefits of the largest scientific professional society in the world. There are over 970 chapters at colleges and universities in the U.S. and Puerto Rico.
                    </p>
                    <p>Based on an annual report of its activities, the UH chapter was among a group of chapters selected for recognition by the ACS Committee on Education.</p>
                    <p>Professor Simon Bott and UH staff member Kim Fletcher, advisors of the chapter, “deserve special commendation,” stated a letter from the ACS Office of the President. “Few faculty members are willing to make the great commitment of time and energy that a successful chapter requires of its advisors. It takes more than exceptional effort to be an award-winning chapter; it takes the nurturing attention of dedicated advisors. Bott’s and Fletcher’s efforts certainly represent the best in undergraduate science education and mentoring around the country."</p>
           
            </div>
               </div>
    

</Page>
