---
import Page from "../layouts/Page.astro"
---

<Page title="Events">
    <div class="h-screen bg-[#0057A3]">
        <div class="p-2 text-white text">
            <h1 class="heading text-black">Events</h1>
            <h2 class="heading">Event Sign-Up</h2>
            <p class="mb-2">no current events for sign up</p>
            <a href="/Gallery">
                <button class="border-white border-2 w-fit p-2">
                    Past Events
                </button>
            </a>

      
        </div>
      
        </div>
        <img src="/src/assets/wave-haikei5.svg" alt="svg" class="w-full">


</Page>
