---
import Page from "../layouts/Page.astro"
---

<Page title="Events">
    <div class="h-screen bg-white">
        <h1>Events</h1>
        <div class="p-2">
            <h2>Event Sign-Up</h2>
            <p class="mb-2">no current events for sign up</p>
            <a href="/Gallery">
                <button class="border-black border-2 w-fit p-2">
                    Past Events
                </button>
            </a>

      
        </div>
      
        </div>


</Page>
