---
import Page from "../layouts/Page.astro"
---

<Page title="Events">
    <div class="h-screen bg-white">
        <h1>Events</h1>
        <div>
            temp
        </div>
           </div>


</Page>
