---
import '../styles/global.css'; 
import Page from "../layouts/Page.astro"
import Navbar from '../components/Navbar.astro';
import MobileNav from '../components/MobileNav';
---
<div class="h-screen bg-[rgb(0,87,163)]">

<Page title="Event Gallery">
	<div class="sticky top-0 sm:hidden">
        <MobileNav client:load/>
    </div>
    <div class="hidden sm:block">
        <Navbar/>
    </div>       
    <h1 class="title heading sm:p-2 text-white">Event Gallery</h1>
    <h3 class="heading sm:p-2">...</h3>
</Page>
</div>


<style>
    .title{
        padding-top: 4rem;
    }
</style>