---
import ImageCard from '../components/ImageCard.astro';
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import About from '../pages/About.astro'
import Events from './Events.astro';
import Store from './Store.astro';
import '../styles/global.css';

---
<Layout title="ACS @ UH">
	<main>
		<Navbar/>
		<section id = "home">
			<div class = "title">
				<div class="image">
					<img src="/src/assets/image_2.png" alt="logo">
				</div>
				<p class="text-8xl mb-2">American Chemical Society</p>
				<p class="text-5xl text-center text-blue-600 subtitle">at the University of Houston</p>
			</div>
			<ul class="link-card-grid">
				<ImageCard imagePath="/src/assets/image_3.png" altText = "pic 1"/>
				<ImageCard imagePath="/src/assets/image_4.png" altText = "pic 1"/>
				<ImageCard imagePath="/src/assets/image_5.png" altText = "pic 1"/>
	
			</ul>
			<div class="flex justify-center m-2">
				<iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FChicago&bgcolor=%23ffffff&src=YWNzLmF0LnVoQGdtYWlsLmNvbQ&src=NnVrZmtqNGxjNmJmaWFra2pkbTdmNXUwczhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=YjNlaGpiMm9sZ3Y0NWJmb3FpbXJnb2wxNDRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%233F51B5&color=%233F51B5&color=%23795548" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
			</div>
			<p class="text-center">fix calendar styling once given permission</p>
		
		</section>
		<section id="about">
			<About/>
		</section>
		<section id="events">
			<Events/>
			</section>
		<section id="tutoring">
			<h1 class="heading ml-2">Tutoring</h1>
			<a href="/Tutoring">
				<p class="m-2">Feeling a little rusty on chemistry? Perhaps lecture was confusing or complicated? Need some extra clarification before an exam? Well that is totally okay! Come to our tutoring room with any and all questions! We have dedicated, enthusiastic, and friendly tutors that will help you answer any questions that you may have. Check our tutoring schedules for times you can drop by!</p>
<div class="flex flex-row justify-between m-2">
    <div class="border-[#0057A3] border-l-4 pl-3">
        <h3>Location</h3>
        <p>
        <strong>Lamar Fleming, Jr. Building</strong> <br/>
        University of Houston Department of Chemistry <br/>
        3585 Cullen Blvd #112, Houston, TX 77004 <br/>
        Room 218 & 220
        </p>
    </div>
    <div class="border-[#0057A3] border-l-4 pl-3">
        <h3>Contact Us</h3>
        <div>
        <p>
            E-mail: acs.at.uh@gmail.com <br/>
            Alternatively, you can also contact us on our Facebook page.
        </p>
        </div>
    </div>
    
</div>

                <button class="border-black border-2 m-2 p-2">
                    More info
                </button>
            </a>
		</section>
		<section id="store">
			<Store/>
		</section>
	</main>
</Layout>

<style>
	html{
		scroll-behavior: smooth;
		scroll-padding-top: 5vmax;
		overflow-x: hidden;
	}

	main {
		margin: auto;
		width: 100%;
		max-width: 100%;
		color: black;
	}
	.title {
        display: flex;
        flex-direction: column;
        font-family: 'PostNoBillsColombo';
        text-align: center;
        background-color: #FBBA00;
        padding: 1rem;
        padding-top: 4rem;
		margin-top: 6rem;
        margin-bottom: 8rem;
        opacity: 80%;
        position: relative;
    }
    .image {
        position: absolute;
        top: -15%;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
    }
	.image img {
        height: 6rem;
    }
	.subtitle{
	font-family: "Caveat", cursive;
	}
	.link-card-grid {
		display: flex;
		flex-direction: row;
	}

</style>
