---
import ImageCard from '../components/ImageCard.astro';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro';
import About from '../pages/About.astro'
import Events from './Events.astro';

---

<Layout title="ACS @ UH">
	<main>
		<Navbar/>
		<section id = "home">
			<div class = "title">
				<h1>American Chemical Society</h1>
				<p class="text-center text-base text-blue-600">at the University of Houston</p>
			
			</div>
			<ul class="link-card-grid">
				<ImageCard imagePath="/src/assets/image_3.png" altText = "pic 1"/>
				<ImageCard imagePath="/src/assets/image_4.png" altText = "pic 1"/>
				<ImageCard imagePath="/src/assets/image_5.png" altText = "pic 1"/>
	
			</ul>
			<div class="p-20 m-20 text-center bg-amber-200">Insert Calendar Here</div>	
		</section>

		<section id="about">
			<About/>
		</section>
		<section id="events">
			<Events/>
			</section>
		<section id="tutoring">
			<h1>Tutoring</h1>
			<div class="h-96 text-center bg-amber-200">Insert text here</div>
		</section>
	</main>
</Layout>

<style>
	html{
		scroll-behavior: smooth;
		scroll-padding-top: 5vmax;
	}
	main {
		margin: auto;
		width: 100%;
		max-width: 100%;
		color: black;
	}

	.title{
	font-size: 4rem;
	font-weight: 400;
	line-height: 1;
	text-align: center;
	background-color: #FBBA00;
	padding: 1rem;
	margin-top: 5rem;
	margin-bottom: 10rem;
	opacity: 80%;	
}
	.link-card-grid {
		display: flex;
		flex-direction: row;
	}
</style>
