---
import ImageCard from '../components/ImageCard.astro';
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import About from '../pages/About.astro'
import Events from './Events.astro';
import Store from './Store.astro';
import '../styles/global.css';
import MobileNav from '../components/MobileNav'
import svg1 from '../assets/wave-haikei6.svg?raw'
import svg2 from "../assets/wave-haikei3.svg?raw"
import Officer from './Officer.astro';
import Footer from '../components/Footer.astro';

---
<Layout title="ACS @ UH">
	<main class="overflow-hidden">
		<div class="sticky top-0 sm:hidden z-50">
			<MobileNav client:load/>
		</div>
		<div class="hidden sm:block">
			<Navbar/>
		</div>
		<section id = "home">
			<div class="flex justify-center sm:mt-14">
				<div class="w-32">
					<ImageCard imagePath="/src/assets/image_2.1.png" altText = "logo first half"/>
				</div>
			</div>
			<div class="title sm:mb-32 shadow-xl">
				<div class="flex justify-center">
					<div class="w-32">
						<ImageCard imagePath="/src/assets/image_2.2.png" altText = "logo first half"/>
					</div>
				</div>
				<p class="text-8xl mb-2">American Chemical Society</p>
				<p class="text-5xl text-center text-[rgb(0,87,163)] subtitle">at the University of Houston</p>
			</div>
			<ul class="flex">
				<ImageCard imagePath="/src/assets/image_3.png" altText = "pic 1"/>
				<ImageCard imagePath="/src/assets/image_4.png" altText = "pic 1"/>
				<div class="hidden sm:flex">
					<ImageCard imagePath="/src/assets/image_5.png" altText = "pic 1"/>

				</div>
	
			</ul>
			<div class="sm:hidden p-6 flex justify-center">
				<iframe src="https://calendar.google.com/calendar/embed?height=400&wkst=1&ctz=America%2FChicago&bgcolor=%23ffffff&showPrint=0&title=ACS%20Calendar&mode=AGENDA&showCalendars=0&src=YWNzLmF0LnVoQGdtYWlsLmNvbQ&src=NnVrZmtqNGxjNmJmaWFra2pkbTdmNXUwczhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%233F51B5&color=%233F51B5" style="border-width:0" width="350" height="400" frameborder="0" scrolling="no"></iframe>
			</div>
			<div class="hidden sm:block m-4">
				<!-- <script type="text/javascript" src="https://stylemygcal.com/widget.js" is:inline></script>
				<div class="smgc-calendar-placeholder" id="smgc-cal-GtkSiamhEUCHLcxyC1Hx"></div> -->
				<iframe src="https://embed.styledcalendar.com/#P7cUPi9eIDhGml4cUxZi" title="Styled Calendar" class="styled-calendar-container" style="width: 100%; border: none; height:600px !important;" data-cy="calendar-embed-iframe"></iframe>
				<script async type="module" src="https://embed.styledcalendar.com/assets/parent-window.js" is:inline></script>

			</div>
			<Fragment set:html={svg2} />
	
		
			

		
		</section>
		<section id="about">
			<About/>
		</section>
		<section id="officer">
			<Officer/>
		</section>
		<section id="events">
			<Events/>
			</section>
		<section id="tutoring">
			<h1 class="heading ml-2">Tutoring</h1>
			<div class="text">
				<p class="m-2">Feeling a little rusty on chemistry? Perhaps lecture was confusing or complicated? Need some extra clarification before an exam? Well that is totally okay! Come to our tutoring room with any and all questions! We have dedicated, enthusiastic, and friendly tutors that will help you answer any questions that you may have. Check our tutoring schedules for times you can drop by!</p>
				<div class="flex flex-col gap-2 sm:flex-row sm:gap-0 justify-between m-2">
					<div class="border-[#0057A3] border-l-4 p-3 shadow-md">
						<h3>Location</h3>
						<p>
						<strong>Lamar Fleming, Jr. Building</strong> <br/>
						University of Houston Department of Chemistry <br/>
						3585 Cullen Blvd #112, Houston, TX 77004 <br/>
						Room 218 & 220
						</p>
					</div>
					<div class="border-[#0057A3] border-l-4 p-3 shadow-md">
						<h3>Contact Us</h3>
						<div>
						<p>
							E-mail: acs.at.uh@gmail.com <br/>
							Alternatively, you can also contact us on <a target="_blank" href="https://www.instagram.com/acs.uh/" class="underline">Instagram</a>.
						</p>
						</div>
					</div>
				</div>
				<a href="/Tutoring">
				<button class="border-black border-2 p-2 rounded-lg hover:bg-[#0057A3] hover:text-white duration-300 m-2 p-2">
					View Tutor Hours
				</button>
				</a>
				
				<a href="https://docs.google.com/forms/d/e/1FAIpQLSf3ojuSeNW8t18xS3FB2IcUuDq9gcLW44ya1lkkOc5nBzlbng/viewform?usp=sharing&ouid=108388861613795805896" 
				target="_blank">
				<button class="border-black border-2 p-2 rounded-lg hover:bg-[rgb(253,220,128)] duration-300 m-2 p-2">
					Submit Tutor Application
				</button>
				</a>
			</div>
			<Fragment set:html={svg1} />
		</section>
		<section id="store">
			<Store/>
		</section>
		<div class="flex justify-center bg-[rgb(0,87,163)] text-white">
			<Footer/>
		</div>
	
	</main>
</Layout>

<style>

	html{
		scroll-behavior: smooth;
		scroll-padding-top: 8vmax;
		overflow-x: hidden;
	}

	@media only screen and (min-width: 600px) {
		html{
		scroll-behavior: smooth;
		scroll-padding-top: 6vmax;
		overflow-x: hidden;
	}


	}

	main {
		margin: auto;
		width: 100%;
		max-width: 100%;
		color: black;
	}
	.title {
        display: flex;
        flex-direction: column;
        font-family: 'PostNoBillsColombo';
        text-align: center;
        background-color: #FBBA00;
        padding: 1rem;
        padding-top: 0;
	}
	.subtitle{
	font-family: "Caveat", cursive;
	}


</style>
