---
import Page from "../layouts/Page.astro"
import '../styles/global.css';
import group18 from "/src/assets/officers/18-19/IMG_2801.jpg";
---

<Page title="Officers">
    <h2 class="heading ml-2 mt-8">Officers</h1>
      <div class="ml-2 text-wrap">
        If you are interested in becoming an officer, <a href="https://docs.google.com/forms/d/e/1FAIpQLSe551QK9e9poKkMlBFEnhQBTdOukuoQi-ECL9i-JUpdElBoow/viewform" class="border-2 border-black font-semibold rounded-lg p-1 text-black bg-[rgb(253,220,128)] text-nowrap" target="_blank">click here</a> to apply!
      </div>

    <div class="text m-4">
        <div class="grid grid-cols-4">
          <a href="/officers/24_25">
            <div class="flex flex-row drop-shadow-2xl">
              <div class="p-6 m-2 bg-slate-500 text-center w-32 h-32 sm:w-64 sm:h-64 flex flex-col justify-center text-white hover:rotate-6 duration-300 shadow-2xl"><h1 class="text-lg sm:text-6xl">2024-2025</h1></div>
            </div>
          </a>
          <a href="/officers/23_24">
            <div class="flex flex-row drop-shadow-2xl">
              <div class="p-6 m-2 bg-slate-500 text-center w-32 h-32 sm:w-64 sm:h-64 flex flex-col justify-center text-white hover:rotate-6 duration-300 shadow-2xl"><h1 class="text-lg sm:text-6xl">2023-2024</h1></div>
            </div>
          </a>
          <a href="/officers/22_23">
            <div class="flex flex-row drop-shadow-2xl">
              <div class="p-6 m-2 bg-slate-500 text-center w-32 h-32 sm:w-64 sm:h-64 flex flex-col justify-center text-white hover:rotate-6 duration-300 shadow-2xl"><h1 class="text-lg sm:text-6xl">2022-2023</h1></div>
            </div>
          </a>
          <a href="/officers/18_19">
            <div class="static drop-shadow-2xl">
              <div class="flex flex-row drop-shadow-2xl">
                <div class="p-6 m-2 bg-slate-500 text-center w-32 h-32 sm:w-64 sm:h-64 flex flex-col justify-center text-white hover:rotate-6 duration-300 shadow-2xl"><h1 class="text-lg sm:text-6xl">2018-2019</h1></div>
              </div>
            </div>  
          </a>
        
        </div>  
      </div>


</Page>


