---
import group18 from "../assets/officers/18-19/IMG_2801.jpg"
import random1 from "../assets/image_3.png"
import random2 from "../assets/image_4.png"
import random3 from "../assets/image_5.png"
import { Image } from "astro:assets";
import Page from "../layouts/Page.astro"
import '../styles/global.css';
import svg2 from '../assets/wave-haikei4.svg'

---

<Page title="Officers">
    <h2 class="heading ml-2 mt-8">Officers</h1>
    <div class="text m-4">
        <div class="grid grid-cols-2">
          <a href="/officers/24_25">
            <div class="flex flex-row">
              <div class="p-6 m-2 bg-slate-500 text-center w-32 h-32 sm:w-64 sm:h-64 flex flex-col justify-center text-white hover:rotate-6 duration-300"><h1 class="text-lg sm:text-6xl">2024-2025</h1></div>
            </div>
          </a>
          <a href="/officers/23_24">
            <div class="flex flex-row">
              <div class="p-6 m-2 bg-slate-500 text-center w-32 h-32 sm:w-64 sm:h-64 flex flex-col justify-center text-white hover:rotate-6 duration-300"><h1 class="text-lg sm:text-6xl">2023-2024</h1></div>
            </div>
          </a>
          <a href="/officers/22_23">
            <div class="flex flex-row">
              <div class="p-6 m-2 bg-slate-500 text-center w-32 h-32 sm:w-64 sm:h-64 flex flex-col justify-center text-white hover:rotate-6 duration-300"><h1 class="text-lg sm:text-6xl">2022-2023</h1></div>
            </div>
          </a>
          <a href="/officers/18_19">
            <div class="static">
                <div class="sm:p-2 sm:m-2 sm:w-1/2 hover:rotate-6 duration-300">
                    <Image src={group18} alt="officer2" transition:name="18_19"/>
                    <h1 class="text-lg sm:text-6xl">2018-2019</h1>
                </div>
               
            </div>  
          </a>
        
        </div>  
      </div>


</Page>
<img src={svg2.src} alt="svg" class="w-full hidden sm:block">		

