---
import Page from "../layouts/Page.astro"
---

<Page title="Store">
    <div class="h-screen bg-[#0057A3]">
        <div class="p-2 text-white text">
            <h1 class="heading text-black">ACS Store</h1>
            <div class="m-5">
                <ul role="list" class="list-disc">
                    <li><strong>Carbon paper lab notebooks</strong>: $25</li>
                    <li><strong>ACS review book</strong>: $25</li>
                    <li><strong>Carbon paper lab notebooks</strong>: $25</li>
                    <li><strong>Lab coat</strong>: $20</li>
                    <li><strong>Goggles (version 1)</strong>: $5</li>
                    <li><strong>Goggles (version 2)</strong>: $10</li>
                    <li><strong>Locks</strong>: $5</li>

                </ul>
            </div>
        </div>
    </div>


</Page>
