---
import Page from "../layouts/Page.astro"
---

<Page title="Store">
    <div class="bg-[#0057A3]">
        <div class="p-2 text-white text">
            <h1 class="heading text-black">ACS Store</h1>
            <div class="sm:hidden">
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSegkYARE4jNpRZB7PQia2_mXYhy5HWfIYD2cfWBLFa3TUIYAA/viewform?embedded=true" width="350" height="1061" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            </div>
            <div class="m-5 hidden sm:block">
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSegkYARE4jNpRZB7PQia2_mXYhy5HWfIYD2cfWBLFa3TUIYAA/viewform?embedded=true" width="600" height="1061" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            </div>
        </div>
    </div>


</Page>
