---
import Page from "../layouts/Page.astro"
---

<Page title="Store">
    <div class="h-screen bg-[#0057A3]">
        <div class="p-2 text-white text">
            <h1 class="heading text-black">ACS Store</h1>
            <p class="mb-2">Insert items for store</p>
        </div>
    </div>


</Page>
