---
import '../styles/global.css'; 
import Tutors from '../components/Tutors';
import Page from "../layouts/Page.astro"
import Navbar from '../components/Navbar.astro';
import MobileNav from '../components/MobileNav';
import svg6 from '../assets/polygon-scatter-haikei.svg?raw';
import svg7 from '../assets/polygon-scatter-haikei-1.svg?raw';
import svg8 from '../assets/polygon-scatter-haikei-2.svg?raw';
import Footer from '../components/Footer.astro';

---
<Page title="Tutoring">
	<div class="sticky top-0 sm:hidden">
        <MobileNav client:load/>
    </div>
    <div class="hidden sm:block">
        <Navbar/>
    </div>
    <h1 class="title heading sm:p-2">Tutoring</h1>
    <div class="text sm:p-2">
        <p class="m-2">Feeling a little rusty on chemistry? Perhaps lecture was confusing or complicated? Need some extra clarification before an exam? Well that is totally okay! Come to our tutoring room with any and all questions! We have dedicated, enthusiastic, and friendly tutors that will help you answer any questions that you may have. Check our tutoring schedules for times you can drop by!</p>
        <div class="flex flex-col gap-2 sm:flex-row sm:gap-0 justify-between m-2">
            <div class="border-[#0057A3] border-l-4 p-3 shadow-md">
                <h3>Location</h3>
                <p>
                <strong>Lamar Fleming, Jr. Building</strong> <br/>
                University of Houston Department of Chemistry <br/>
                3585 Cullen Blvd #112, Houston, TX 77004 <br/>
                Room 218 & 220
                </p>
            </div>
            <div class="border-[#0057A3] border-l-4 p-3 shadow-md">
                <h3>Contact Us</h3>
                <div>
                <p>
                    E-mail: acs.at.uh@gmail.com <br/>
                    Alternatively, you can also contact us on <a target="_blank" href="https://www.instagram.com/acs.uh/" class="underline">Instagram</a>.
                </p>
                </div>
            </div>
        </div>
        <Fragment set:html={svg6}/>

          <div class="m-2">
            <h2>Tutor Room Rules</h2>
            <!-- <embed src="src/assets/BASIC_TUTOR_ROOM_RULES_FOR_STUDENTS_AND_TUTORS.pdf" type="application/pdf" width="100%" height="800px" /> -->
            <h3>1. Attendance</h3>
            <p>Tutors are expected to be present every time and for the entire scheduled time. By volunteering, you are explicitly agreeing to this responsibility.</p>
        
            <h3>2. Absence</h3>
            <p>If a tutor cannot attend a session, they need to email <a href="mailto:acs.at.uh@gmail.com" class="underline">acs.at.uh@gmail.com</a>. Include "Tutor Absent Date: (e.g. 01/12/2017)" in the subject line. In the email, please provide an explanation. Make sure to send this email with enough time so that a replacement can be found.</p>
        
            <h3>3. Name Tags</h3>
            <p>Tutors MUST wear their name tags at all times when signed in. The name tag should be visible. DO NOT remove the name tag from the tutoring room. We re-use the name tag holders every semester. There are over 50 tutors in the tutoring room, so keep the name tags alphabetized by last name.</p>
        
            <h3>4. Signing In/Out</h3>
            <p>Tutors must sign in when they arrive and sign out ONLY when they are leaving the tutor room. If you forget to sign out, you will only be given one hour of volunteering credit.</p>
        
            <h3>5. Tutoring Room Conduct</h3>
            <p>The room is only a <strong>TUTORING</strong> room:</p>
            <ul>
                <li>No game playing.</li>
                <li>No loud conversations.</li>
                <li>If a student needs help, any tutor in the room is responsible for assisting. There should never be a situation where a student needs help and a tutor is idle simultaneously.</li>
                <li>If there are no tutees in the room, tutors may relax.</li>
            </ul>
        
            <h3>6. Answering Questions</h3>
            <p>Tutors should only answer questions they are sure about. This is expected for all classes to which you are assigned. We have spare books available, and you are welcome and encouraged to tutor other courses if you know the material.</p>
            <p>If time and tutors are available, tutors should help any student regardless of their preparation. Priority will be given to students who come prepared over those for whom the tutoring center is a last resort.</p>
            <p><span class="note">On Exam Days:</span> No "from the start" help will be provided.</p>
            <p>Additionally, when the room is busy:</p>
            <ul>
                <li>3 questions max per student or 10 minutes max time – whichever is shorter. Then the tutor needs to move to the next person.</li>
                <li>No lab questions.</li>
            </ul>
        
            <h3>7. Eligibility</h3>
            <p>Only students in UH chemistry classes are allowed in the room. UH students who are taking chemistry classes elsewhere are explicitly banned and are not eligible for help with those classes.</p>
        
            <h3>8. No Eating</h3>
            <p>No eating is allowed in the tutor room.</p>
            <Fragment set:html={svg7}/>

            <Tutors client:visible/>
            <!-- <div class='border-[#0057A3] border-t-3 mt-8 mb-8'></div> -->
            <Fragment set:html={svg8}/>


            <h2>Become a Tutor</h2>
                <p class="flex flex-row gap-1">Complete the tutoring application 
                    <a class="underline" href="https://docs.google.com/forms/d/1MQBULbecTiCGHZnFzXRTifBgKzjTKkSW0gG_BYjqcwQ/edit" target="_blank">
                        here</a> 
                </p>
                
            <h2>Completed Hours</h2>

            <iframe width="100%" height="600px" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRf4TpB2BTGR1ZGQlrXAVWqk_Y-02Tt0cIopKRYb_g9WPjixlw7tjkZde3lwKbtvVyp_nwZFQocX3CU/pubhtml?widget=true&amp;headers=false"></iframe>
        </div>
        
    </div>
    <div class="flex justify-center">
        <Footer/>
    </div>

    </Page>
    
    
  <style>
    .title{
        margin-top: 4rem;
    }
    ul {
            margin-left: 20px;
        }
  </style>