---
import '../styles/global.css'; 
import Tutors from '../components/Tutors';
import Page from "../layouts/Page.astro"
import Navbar from '../components/Navbar.astro';
import MobileNav from '../components/MobileNav';
import svg6 from '../assets/polygon-scatter-haikei.svg?raw';
import svg7 from '../assets/polygon-scatter-haikei-1.svg?raw';
import svg8 from '../assets/polygon-scatter-haikei-2.svg?raw';
import Footer from '../components/Footer.astro';

---
<Page title="Tutoring">
	<div class="sticky top-0 sm:hidden">
        <MobileNav client:load/>
    </div>
    <div class="hidden sm:block">
        <Navbar/>
    </div>
    <h1 class="title heading sm:p-2">Tutoring</h1>
    <div class="text sm:p-2">
        <p class="m-2">Feeling a little rusty on chemistry? Perhaps lecture was confusing or complicated? Need some extra clarification before an exam? Well that is totally okay! Come to our tutoring room with any and all questions! We have dedicated, enthusiastic, and friendly tutors that will help you answer any questions that you may have. Check our tutoring schedules for times you can drop by!</p>
        <div class="flex flex-col gap-2 sm:flex-row sm:gap-0 justify-between m-2">
            <div class="border-[#0057A3] border-l-4 p-3 shadow-md">
                <h3>Location</h3>
                <p>
                <strong>Lamar Fleming, Jr. Building</strong> <br/>
                University of Houston Department of Chemistry <br/>
                3585 Cullen Blvd #112, Houston, TX 77004 <br/>
                Room 218 & 220
                </p>
            </div>
            <div class="border-[#0057A3] border-l-4 p-3 shadow-md">
                <h3>Contact Us</h3>
                <div>
                <p>
                    E-mail: acs.at.uh@gmail.com <br/>
                    Alternatively, you can also contact us on <a target="_blank" href="https://www.instagram.com/acs.uh/" class="underline">Instagram</a>.
                </p>
                </div>
            </div>
        </div>
        <Fragment set:html={svg6}/>

          <div class="m-2">
            <h2>Tutor Room Rules</h2>
            <iframe src="https://docs.google.com/document/d/1-O2l-rg7fCc2V0r4VpC02RK9MY6KUGbpGIYrO25qGq4/pub?embedded=true" class="w-[150%] h-[200vh] -ml-20 overflow-hidden sm:ml-0 sm:w-[100%] sm:h-[150vh]"></iframe>

            <Fragment set:html={svg7}/>

            <Tutors client:visible/>
            <!-- <div class='border-[#0057A3] border-t-3 mt-8 mb-8'></div> -->
            <Fragment set:html={svg8}/>


            <h2>Become a Tutor</h2>
                <p class="flex flex-row gap-1 bg-[#FBBA00] w-fit p-1 mb-2">Complete the tutoring application 
                    <a class="underline" href="https://docs.google.com/forms/d/1MQBULbecTiCGHZnFzXRTifBgKzjTKkSW0gG_BYjqcwQ/edit" target="_blank">
                        here</a> 
                </p>

                
            <h2>Completed Hours</h2>

            <iframe width="100%" height="600px" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRf4TpB2BTGR1ZGQlrXAVWqk_Y-02Tt0cIopKRYb_g9WPjixlw7tjkZde3lwKbtvVyp_nwZFQocX3CU/pubhtml?widget=true&amp;headers=false"></iframe>
        </div>
        
    </div>
    <div class="flex justify-center">
        <Footer/>
    </div>

    </Page>
    
    
  <style>
    .title{
        margin-top: 4rem;
    }
    ul {
            margin-left: 20px;
        }
  </style>