<div class="fixed top-0 left-0 w-full p-4 text">
    <div class="flex flex-row gap-6 justify-center">
        <a href="/#home" class="hover:font-semibold duration-300">Home</a>
        <a href="/#about" class="hover:font-semibold duration-300">About</a>
        <a href="/#events" class="hover:font-semibold duration-300">Events</a>
        <a href="/#tutoring" class="hover:font-semibold duration-300">Tutoring</a>
        <a href="/#store" class="hover:font-semibold duration-300">ACS Store</a>
    </div>
</div>

<style>
.fixed {
    background: rgba(255, 255, 255, 0.7); /* Semi-transparent background */
    backdrop-filter: blur(10px);
    
}

.fixed .text {
    color: inherit;
}

</style>
