<div class="fixed top-0 left-0 w-full bg-gray-900 p-4 text">
    <div class="flex flex-row gap-6 justify-center">
        <a href="/#home" class="text-white">Home</a>
        <a href="/#about" class="text-white">About</a>
        <a href="/#events" class="text-white">Events</a>
        <a href="/#tutoring" class="text-white">Tutoring</a>
        <a href="/#store" class="text-white">ACS Store</a>

    </div>
</div>
